.main.h1 {
  font-size: 60px;
  font-family: inherit;
  text-align: center;
  background-color: green;
}
#bio {
  background-color: pink;
  text-align: center;
  text-decoration: red;

}
p:hover {
color:pink;
}

a:link {
color: green;
}

a:visited {
font-style: normal;
font-family: sans-serif;
}


  * {color: blue;}
  body {
    font-family: cursive;
  }
